@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');

$bg-img1: url("data:image/svg+xml,%3Csvg%20width='10'%20height='24'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M2.74%2019.395s-1.385-.617-1.768-1.806c-.382-1.188.384-2.498.384-2.498s1.386.618%201.768%201.806c.382%201.189-.384%202.498-.384%202.498Z'%20fill='url(%23a)'/%3E%3Cpath%20d='M3.417%2019.679s1.457.422%202.516-.24c1.058-.662%201.317-2.157%201.317-2.157s-1.457-.422-2.515.24c-1.059.662-1.318%202.157-1.318%202.157Z'%20fill='url(%23b)'/%3E%3Cpath%20d='M4.207%2015.217s.142-1.51-.706-2.427c-.847-.916-2.364-.892-2.364-.892s-.143%201.51.705%202.427%202.365.892%202.365.892Z'%20fill='url(%23c)'/%3E%3Cpath%20d='M4.453%206.953S2.605%206.13%202.096%204.546c-.733-2.278.28-4.048.28-4.048s2.344.66%203.085%202.965c.742%202.305-1.008%203.49-1.008%203.49Z'%20fill='url(%23d)'/%3E%3Cpath%20d='M5.194%2010.864s2.353-.03%203.626-1.488c1.274-1.458.986-3.793.986-3.793S7.453%205.612%206.18%207.07c-1.274%201.459-.986%203.794-.986%203.794Z'%20fill='url(%23e)'/%3E%3Cpath%20d='M4.516%2010.822s.189-2.014-.942-3.235C2.444%206.366.421%206.399.421%206.399s-.19%202.014.942%203.236c1.13%201.221%203.153%201.187%203.153%201.187Z'%20fill='url(%23f)'/%3E%3Cpath%20d='M4.68%2015.337s1.989.366%203.305-.653c1.317-1.019%201.461-3.036%201.461-3.036s-1.99-.366-3.305.653c-1.317%201.018-1.462%203.036-1.462%203.036Z'%20fill='url(%23g)'/%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M3.687%203.167c-.205.034.51%204.06.544%204.264.59%203.547.394%209.795-3.33%2015.285a.384.384%200%200%200%20.08.518c.17.132.415.095.536-.083C5.39%2017.453%205.584%2010.978%204.975%207.308c-.034-.205-1.083-4.175-1.288-4.141Z'%20fill='url(%23h)'/%3E%3Cdefs%3E%3ClinearGradient%20id='a'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='b'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='c'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='d'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='e'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='f'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='g'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='h'%20x1='6.3'%20y1='3.033'%20x2='.32'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
$bg-img2: url("data:image/svg+xml,%3Csvg%20width='10'%20height='24'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7.26%2019.395s1.385-.617%201.768-1.806c.382-1.188-.384-2.498-.384-2.498s-1.386.618-1.768%201.806c-.382%201.189.384%202.498.384%202.498Z'%20fill='url(%23a)'/%3E%3Cpath%20d='M6.583%2019.679s-1.457.422-2.516-.24c-1.058-.662-1.317-2.157-1.317-2.157s1.457-.422%202.515.24c1.059.662%201.318%202.157%201.318%202.157Z'%20fill='url(%23b)'/%3E%3Cpath%20d='M5.793%2015.217s-.142-1.51.706-2.427c.847-.916%202.364-.892%202.364-.892s.143%201.51-.705%202.427-2.365.892-2.365.892Z'%20fill='url(%23c)'/%3E%3Cpath%20d='M5.547%206.953s1.848-.823%202.357-2.407c.733-2.278-.28-4.048-.28-4.048s-2.344.66-3.085%202.965c-.742%202.305%201.008%203.49%201.008%203.49Z'%20fill='url(%23d)'/%3E%3Cpath%20d='M4.806%2010.864s-2.353-.03-3.626-1.488C-.094%207.918.194%205.583.194%205.583s2.353.029%203.626%201.487c1.274%201.459.986%203.794.986%203.794Z'%20fill='url(%23e)'/%3E%3Cpath%20d='M5.484%2010.822s-.189-2.014.942-3.235c1.13-1.221%203.153-1.188%203.153-1.188s.19%202.014-.942%203.236c-1.13%201.221-3.153%201.187-3.153%201.187Z'%20fill='url(%23f)'/%3E%3Cpath%20d='M5.32%2015.337s-1.989.366-3.305-.653C.698%2013.665.554%2011.648.554%2011.648s1.99-.366%203.305.653c1.317%201.018%201.462%203.036%201.462%203.036Z'%20fill='url(%23g)'/%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M6.313%203.167c.205.034-.51%204.06-.544%204.264-.59%203.547-.394%209.795%203.33%2015.285a.384.384%200%200%201-.08.518.373.373%200%200%201-.536-.083C4.61%2017.453%204.416%2010.978%205.025%207.308c.034-.205%201.083-4.175%201.288-4.141Z'%20fill='url(%23h)'/%3E%3Cdefs%3E%3ClinearGradient%20id='a'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='b'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='c'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='d'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='e'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='f'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='g'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='h'%20x1='3.7'%20y1='3.033'%20x2='9.68'%20y2='12.801'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%23FFD25E'/%3E%3Cstop%20offset='1'%20stop-color='%23B59646'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
body {
    background-color:#646464;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    margin: 0 auto;
    .card-img {
        display: flex;
        justify-content: start;
        width: 72px;
        height: 108px;
        padding: 20px;
    }
    
    .card-block{
        color: #000;
        display: flex;
        justify-content: start;
        align-items: start;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        cursor: pointer;
        width: 500px;
        .card-info{
            width: auto;
            .card-info__name {
                font-size: 18px;
                font-weight: 500;
            }
    
            .card-info__about {
                font-size: 13px;
            }
    
            .card-info__countries {
                font-size: 13px;
                font-weight: 400;
                color: rgba(0,0,0,.6);
            }
        }

    }

    .card-menu {
        display: flex;
        align-items: center;
        transform: scale(1.25);
        .card-menu__rating {
            margin-right: 4px;
            background: linear-gradient(165deg,#ffd25e 16.44%,#b59646 63.42%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .card-menu__span {
            margin-right: 6px;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: contain;
            display: block;
            width: 10px;
            height: 21px;
        }
        .item1{
            background-image: $bg-img2;
        }

        .item2 {
            background-image: $bg-img1;

        }
        .card-menu__btn {
            background: none;
            border: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            height: 32px;
            padding: 8px 16px 8px 14px;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            line-height: 16px;
            cursor: pointer;
            white-space: nowrap;
            text-decoration: none;
            color: #000;
            border: 0;
            border-radius: 100px;
            outline: none;
            background: rgba(0,0,0,.05);
            transition: transform .2s ease,background-color .2s ease;
        }
        .card-menu__btn:hover {
            transform: scale(1.05);
        }
    }
}