@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');
body {
    background-color: rgb(230, 230, 230);
}
.app {
    font-family: Graphik Kinopoisk LC Web,Tahoma,Arial,Verdana,sans-serif;
    display: block;
    width: 1260px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 20px;
    .app-head {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:30px 100px 50px 150px;
        .app-modal {
            .app-modal__open {
                border: none;
                display: block;
                width: 25px;
                height: 25px;
                content: "";
                transition: all 0.2s ease;
                transform: scale(1.5);
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20xmlns='http://www.w3.org/2000/svg'%20fill='black'%3E%3Cpath%20d='M5.5%203.5h13V21L12%2017.45%205.5%2021V3.5Z'/%3E%3C/svg%3E");
                &:hover {
                    filter: invert(20%);
                }
            }
        }
        .app-main {
            width: 640px;
            .app-main__heading {
                margin: 0 0 20px;
                font-size: 40px;
                font-weight: 700;
                line-height: 48px;
                color: #222;
            }
            .app-main__info {
                margin: 0;
                line-height: 22px;
                color: #000;
                font-size: 16px;
            }
    
            .app-main__link {
                text-decoration: none;
                color: rgba(0,0,0,.6);
            }
        }
    }
}
