.post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .poster {
        .poster-img {
            height: 430px;
            width: 302;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        .raiting {

        }
    }
}